<h1>About</h1>
<p>All about me - the developer.</p>

<p>I'm Marcelo Camargo, a Junior Web Developer, with a bit more than a year of experience in web development.</p> <p>I've worked in a few small projects using HTML, CSS, Bootstrap, Javascript, JQuery, React, Node.JS, Express.JS, MongoDB, etc.</p>
<p>Here is some of my projects:</p>
<ul>
    <li><a target="_blank" href="https://wereotakus.netlify.app/">We're Otakus</a> - An action figures shop </li>
    <li><a target="_blank" href="https://livefood.herokuapp.com/">LiveFood</a> - An shop and delivery of healthy foods </li>
</ul>
<p>To check my other projects, <a target="_blank" href="https://github.com/MCamargo192/">click here</a>.</p>